body {
    margin: auto;
    font-family: 'Barlow', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    /*font-family: 'Teko', sans-serif;*/
}




.first-page {
    width: 100%;
    background-image: url(bg/bg-02.jpeg);
    background-repeat: no-repeat;
    height: 665px;
    background-size: 100%;
    filter: blur(0px);
}

.head-cont {
    margin: 0% 25%;
    padding-top: 10%;

}

.head-cont h1 {
    font-size: 58px;
    color: crimson;
    text-shadow: -10px -6px 10px #a68888;
    text-align: center;
}

.head-cont h5 {
    font-size: 18px;
    color: bisque;
    text-align: center;
}

.head-cont a {
    margin: 0% 39%;
    background: tomato;
    color: #fff;
    padding: 11px 18px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}


/*section 2*/


.display {
    display: flex;
}

.donate-today {
    margin: 0% 0%;
}

.cont-head {
    margin: 4% 25%;
}

.cont-head h1 {
    font-size: 50px;
    text-align: center;
}

.cont-head h4 {
    font-size: 19px;
    text-align: center;
    font-weight: 500;
}

.amount {
    margin: 0% 25%;
}

.amount h2 {
    background: #4b4b44;
    margin: 10px;
    padding: 35px 15px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    color: red;
    border: 3px outset red;
}


form {
    margin: 0% 25%;
}

#other {
    margin: 2% 10%;
    height: 35px;
    width: 80%;
    background: #e6d9d95e;
    border-bottom-style: double;
}

input[type="text"],
input[type="password"],
textarea {
    border: none;
    outline: none;
    border-bottom: 3px solid blue;
    text-align: center;
    font-size: 17px;
}

input[type="password"],
textarea {
    border: none;
    outline: none;
    border-bottom: 3px solid blue;
    /* You can adjust the color and thickness of the outline */
}

.Donate-now {
    height: 55px;
    margin: 0.7% 0% 0% 0%;
}

#other-donate {
    margin: 0% 44%;
    background: tomato;
    color: #fff;
    padding: 11px 18px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}


.plan-head {
    margin: 0% 0%;

}

.plan-description {
    display: flex;
    margin: 0% 10%;
}

.desc {

    margin: 10px;
}

.desc img {
    width: 50px;
    height: 50px;
    padding: 65px 35px 4px 30px;
}

.desc h3 {
    font-size: 24px;
    padding: 0px 30px;
}

.desc p {
    font-size: 17px;
    text-align: justify;
    padding: 5px 15px 40px 30px;
}




.life-desc {
    width: 100%;
}

.life-cont {
    display: flex;
    margin: 0% 10%;
}

.text-box {
    padding: 10px;
    margin-top: 50px;
    width: 50%;

}

.text-box h1 {
    font-size: 50px;
}

.text-box p {
    padding: 4px;
    font-size: 22px;

}

.life-img {
    padding: 10px;
    width: 50%;
    margin-top: 50px;
}

.life-img img {
    width: 85%;
    padding-top: 5px;
    height: 100%;
    border-radius: 40px;
}

.life-desc-2 {
    margin-top: 35px;
}



.update-mail {
    height: 560px;
}

.con-sec {}

.update {}

.plan-head-2 {
    margin: 0% 0%;
    background: #cecae4;
}

.mail {
    height: 140px;
    background: #ddd;
    margin: 0% 30%;
}

.center {
    height: 100px;

    margin-top: 100px;
}

input {
    height: 36px;
    width: 250px;
    border-radius: 5px;
    background: #d2d4d6;
}


#submit {
    height: 40px;
    width: 90px;
}


.footer {
    height: 200px;
    background: #283a3a;
}

.footer-cont {
    text-align: center;
}

.footer-cont h2 {
    font-size: 35px;
    padding-top: 35px;
    font-family: cursive;
    color: crimson;
}

.footer-cont p {
    color: #a09d9d;
}